<div class="control-section">

	<div class='e-mastertext'>
    Automatically "save" the dest grid data after an item is added, deleted or dropped, calculating sort order index based on grid index
    </div>
	<div style="display: inline-block">
	
		<ejs-grid id='destGrid' #destGrid 
    height='300' 
      [dataSource]="destData"
      [allowSelection]="true"
      [allowRowDragAndDrop]="true"
      (actionComplete)="destGridActionComplete($event)"
      (recordDoubleClick)="destGridDoubleClick($event)"
      [editSettings]="{ allowAdding: true, allowDeleting: true }"
      width="49%">
			<e-columns>
				<e-column field='id' headerText='Dest' width='120' isPrimaryKey='true' clipMode="EllipsisWithTooltip" >
           <ng-template #template let-data>
								<div>
									<span>{{ data.code + '-' +  data.description }}</span>
								</div>
							</ng-template>
        </e-column>
        <e-column headerText="" >
				<ng-template #template let-data>
					<button ejs-button
						(click)="removeFromSelected(data)">-
					</button>
				</ng-template>
			</e-column>
			</e-columns>
		</ejs-grid>
    	<ejs-grid id='srcGrid' #srcGrid 
      height='300' 
      [dataSource]="srcData"
      (recordDoubleClick)="srcGridDoubleClick($event)"
      [editSettings]="{ allowAdding: true, allowDeleting: true }"
     width="49%">
			<e-columns>
				<e-column field='id' headerText='Src' width='120' isPrimaryKey='true' clipMode="EllipsisWithTooltip">
					<ng-template #template let-data>
						<div>
							<span>{{ data.code + '-' +  data.description }}</span>
								</div>
							</ng-template>
        </e-column>
         <e-column headerText="">
				<ng-template #template let-data>
					<button ejs-button
						(click)="addToSelected(data)">+
					</button>
				</ng-template>
			</e-column>
			</e-columns>
		</ejs-grid>
	</div>
	<div class="panel-footer">
		<button ejs-button (click)="save()" >Save</button>
	</div>

</div>