<div class="control-section">

	<div class='e-mastertext'>Drag and Drop Rows between two Grids with automatic ordering in the Source Grid and user ordering (drag/drop within) the Destination grid</div>
	<div style="display: inline-block">
	

		<ejs-grid id='destGrid' #destGrid 
    height='300' 
      [dataSource]="destData"
      [allowSelection]="true"
      (mouseover)="destGridMouseover($event)"
      (rowDrag)="destRowDrag($event)"
      (rowDragStartHelper)="destRowDragStartHelper($event)"
      [allowRowDragAndDrop]="true"
      [selectionSettings]="{ type: 'Multiple' }"
      (actionComplete)="destGridActionComplete($event)"
      [rowDropSettings]="{ targetID: 'srcGrid' }"
      (rowDrop)="destRowDrop($event)"
      (recordDoubleClick)="destGridDoubleClick($event)"
      [editSettings]="{ allowAdding: true, allowDeleting: true }"
      width="49%">
			<e-columns>
				<e-column field='id' headerText='Selected' width='120' isPrimaryKey='true' clipMode="EllipsisWithTooltip" >
           <ng-template #template let-data>
								<div>
									<span>{{ data.code + '-' +  data.description }}</span>
								</div>
							</ng-template>
        </e-column>
        <e-column headerText="" >
				<ng-template #template let-data>
					<button ejs-button
						(click)="removeFromSelected(data)">-
					</button>
				</ng-template>
			</e-column>
			</e-columns>
		</ejs-grid>
    	<ejs-grid id='srcGrid' #srcGrid 
      height='300' 
      [dataSource]="srcData"
      (created)="srcGridCreated()"
      [query]="srcQuery"
      [allowSelection]="true"
      (rowDrag)="srcRowDrag()"
      [allowRowDragAndDrop]="true"
      [selectionSettings]="{ type: 'Multiple' }"
      [rowDropSettings]="{ targetID: 'destGrid' }"
      (rowDrop)="srcRowDrop($event)"
      (recordDoubleClick)="srcGridDoubleClick($event)"
      [editSettings]="{ allowAdding: true, allowDeleting: true }"
     width="49%">
			<e-columns>
				<e-column field='id' headerText='Available' width='120' isPrimaryKey='true' clipMode="EllipsisWithTooltip">
					<ng-template #template let-data>
						<div>
							<span>{{ data.code + '-' +  data.description }}</span>
								</div>
							</ng-template>
        </e-column>
         <e-column headerText="">
				<ng-template #template let-data>
					<button ejs-button
						(click)="addToSelected(data)">+
					</button>
				</ng-template>
			</e-column>
			</e-columns>
		</ejs-grid>
	</div>
	<div class="panel-footer">
		<button ejs-button (click)="save()" >Save</button>
	</div>

</div>